{% extends 'base.html.twig' %}

{% block title %}Notre restaurant{% endblock %}

{% block body %}

{% include('navbar/navbar.html.twig') %}
<div class="container">
    <h5 class="mt-2 text-center">Localisation</h5>


</div>
{% endblock %}
